<template>
  <b-container class="pt-5 mt-5">
    <h1>Iniciar Sesión</h1>
    <b-form @submit.prevent="loginSubmit"  class="pt-5 m-2">
      <b-row>
        <b-col sm="12" offset-md="2" md="8">
          <b-form-group >
            <b-form-input
              id="username"
              v-model="user.username"
              type="text"
              placeholder="Usuario"
              :class="{ 'is-invalid': submitted && $v.user.username.$error }">
            </b-form-input>
            <div
              v-if="submitted && !$v.user.username.required"
              class="invalid-feedback">
              Ingresa usuario
            </div>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col sm="12" offset-md="2" md="8">
          <b-form-group>
            <b-form-input
              id="password"
              v-model="user.password"
              type="password"
              placeholder="Contraseña"
              :class="{ 'is-invalid': submitted && $v.user.password.$error }">
            </b-form-input>
            <div
              v-if="submitted && !$v.user.password.required"
              class="invalid-feedback">
              Ingresa contraseña
            </div>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row class="justify-content-md-center">
        <b-col sm="12" md="12">
          <b-button type="submit" variant="primary"> Acceder </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'login',
  data () {
    return {
      user: {
        username: '',
        password: ''
      },
      submitted: false
    }
  },
  validations: {
    user: {
      username: { required },
      password: { required }
    }
  },
  methods: {
    loginSubmit () {
      let self = this
      
      self.submitted = true

      self.$v.$touch()
      if (self.$v.$invalid) {
        return
      }

      let userData = {
        username: self.user.username,
        password: self.user.password
      }

      self.axios.post('http://localhost:5000/api/Users/Login', userData)
        .then(function (response) {      
          if (response.status === 200) {
            self.$session.start()
            self.$session.set('jtw', response.data.token)
            self.$session.set('username', response.data.user.username)
            self.$session.set('name', response.data.user.name)
            self.$session.set('lastname', response.data.user.lastname)
            self.$session.set('id', response.data.user.id)
            self.$session.set('role', response.data.user.idrole)
            self.$router.push('home')
          }
        })
        .catch(function (error) {
          if (error.response.status === 404 || error.response.status === 401) {
            self.$swal.fire({
              type: 'error',
              title: 'Oops...',
              text: error.response.data
            })
          }
        })
      }
    }
}
</script>
