<template>
  <b-container class="pt-5 mt-5">
    <h1>Lista de {{ title }}</h1>
    <b-row v-if="add">
      <b-col offset="8"
             offset-md="10">
        <b-button @click="addItem()">
          Agregar
        </b-button>
      </b-col>
    </b-row>
    <b-table class="mt-5"
      responsive
      striped
      :fields="listFields"
      :items="list">
      <template slot="id" slot-scope="data">
        <span><i @click="getId(data.item.id)" class="far fa-edit fa-2x"></i></span>
      </template>
    </b-table>
  </b-container>
</template>

<script>
export default {
  methods: {
    getId (data) {
      this.$emit('clickToEdit', data)
    },
    addItem () {
      this.$emit('addItem')
    }
  },
  props: {
    title: String,
    list: Array,
    listFields: Array,
    add: {
      default: false,
      type: Boolean
    }
  }
}
</script>
