<template>
  <sidebar-menu :menu="menu"
                :collapsed="collapsed"
                @itemClick="onItemClick"/>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      collapsed: true
    }
  },
  computed: {
    ...mapState([
      'menu'
    ])
  },
  beforeCreate () {
    if (!this.$session.exists()) {
      this.$router.push('/')
    }
  },
  methods: {
    logout () {
      this.$session.destroy()
      this.$router.push('/')
    },
    onItemClick (event, item) {
      if (item.attributes !== undefined) {
        if (item.attributes.item === 'logout') {
          this.logout()
        }
      }
    }
  }
}
</script>
