<template>
  <div>
    <MainMenu></MainMenu>
    <b-container class="pt-5 mt-5">
      <h1>Editar Proveedor</h1>
      <b-form>
        <b-form-row class="mt-5">
          <b-col class="text-left" sm="12" offset-md="1" md="2">
            <label>Nombre Proveedor</label>
          </b-col>
          <b-col sm="12" md="7">
            <b-form-input></b-form-input>
          </b-col>
        </b-form-row>
        <b-form-row class="mt-3">
          <b-col class="text-left" sm="12" offset-md="1" md="2">
            <label>Dirección</label>
          </b-col>
          <b-col sm="12" md="7">
            <b-form-input></b-form-input>
          </b-col>
        </b-form-row>
        <b-form-row class="mt-3">
          <b-col class="text-left" sm="12" offset-md="1" md="2">
            <label>Teléfono</label>
          </b-col>
          <b-col sm="12" md="7">
            <b-form-input></b-form-input>
          </b-col>
        </b-form-row>
        <b-form-row class="mt-3">
          <b-col class="text-left" sm="12" offset-md="1" md="2">
            <label>Encargado</label>
          </b-col>
          <b-col sm="12" md="7">
            <b-form-input></b-form-input>
          </b-col>
        </b-form-row>

        <b-form-row class="mt-3 mb-3">
          <b-col sm="12" md="12">
            <b-button type="submit" variant="primary"> Guardar </b-button>
          </b-col>
        </b-form-row>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import MainMenu from '@/components/MainMenu.vue'

export default {
  components: {
    MainMenu
  },
  beforeCreate () {
    if (this.$route.params.idSupplier === undefined) {
      this.$router.push({ name: 'supplier-list' })
    }
    console.log(this.$route.params.idSupplier)
  }
}
</script>
