<template>
  <div>
    <MainMenu></MainMenu>
    <b-container class="pt-5 mt-5">
      <h1>Lista de Proveedores</h1>
      <b-table class="mt-5"
        striped
        :fields="supplierListFields"
        :items="suppliers">
        <template slot="id" slote-scope="row">
          <span><i @click="edit(row.item.id)" class="far fa-edit fa-2x"></i></span>
        </template>
      </b-table>
    </b-container>
  </div>
</template>

<script>
import MainMenu from '@/components/MainMenu.vue'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      suppliers: [
        {
          id: 1,
          name: 'La Luz',
          address: 'Chicle #240',
          phoneNumber: 4341160784,
          ownerName: 'Ma. Luz'
        }
      ]
    }
  },
  methods: {
    edit (idSupplier) {
      this.$router.push({ path: `/supplier/edit-supplier/${idSupplier}` })
    }
  },
  computed: {
    ...mapState([
      'supplierListFields'
    ])
  },
  components: {
    MainMenu
  }
}
</script>
