<template>
  <div>
    <MainMenu></MainMenu>
    <GenericTable
      title="Clientes"
      :listFields="customerListFields"
      :list="customers"
      @clickToEdit="edit">
    </GenericTable>
  </div>
</template>

<script>
import MainMenu from '@/components/MainMenu.vue'
import GenericTable from '@/components/GenericTable.vue'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      customers: [
        {
          id: 2,
          name: 'Ma. Rosario',
          address: 'Mango #9',
          phoneNumber: 4341074787
        }
      ]
    }
  },
  methods: {
    edit (idCustomer) {
      this.$router.push({ path: `/customer/edit-customer/${idCustomer}` })
    }
  },
  computed: {
    ...mapState([
      'customerListFields'
    ])
  },
  components: {
    MainMenu,
    GenericTable
  }
}
</script>
