<template>
  <div>
    <MainMenu></MainMenu>
    <b-container class="pt-5 mt-5">
      <h1>Nuevo Cliente</h1>
      <b-form>
        <b-form-row class="mt-5">
          <b-col class="text-left" sm="12" offset-md="1" md="2">
            <label>Nombre Cliente</label>
          </b-col>
          <b-col sm="12" md="7">
            <b-form-input
              placeholder="Ingresa nombre del cliente">
            </b-form-input>
          </b-col>
        </b-form-row>
        <b-form-row class="mt-3">
          <b-col class="text-left" sm="12" offset-md="1" md="2">
            <label>Dirección</label>
          </b-col>
          <b-col sm="12" md="7">
            <b-form-input
              placeholder="Ingresa dirección">
            </b-form-input>
          </b-col>
        </b-form-row>
        <b-form-row class="mt-3">
          <b-col class="text-left" sm="12" offset-md="1" md="2">
            <label>Teléfono</label>
          </b-col>
          <b-col sm="12" md="7">
            <b-form-input
              placeholder="Ingresa telefono">
            </b-form-input>
          </b-col>
        </b-form-row>
        <b-form-row class="mt-3 mb-3">
          <b-col sm="12" md="12">
            <b-button type="submit" variant="primary"> Guardar </b-button>
          </b-col>
        </b-form-row>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import MainMenu from '@/components/MainMenu.vue'

export default {
  components: {
    MainMenu
  }
}

</script>
