<template>
  <div>
    <MainMenu></MainMenu>
    <b-container class="pt-5 mt-5">
      <h1>Nuevo Usuario</h1>
        <b-form>
          <b-form-row class="mt-5">
            <b-col class="text-left" sm="12" offset-md="1" md="2">
              <label>Usuario</label>
            </b-col>
            <b-col sm="12" md="7">
              <b-form-input
                placeholder="Ingresa usuario">
              </b-form-input>
            </b-col>
          </b-form-row>
          <b-form-row class="mt-3">
            <b-col class="text-left" sm="12" offset-md="1" md="2">
              <label>Contraseña</label>
            </b-col>
            <b-col sm="12" md="7">
              <b-form-input
                placeholder="Ingresa contraseña">
              </b-form-input>
            </b-col>
          </b-form-row>
          <b-form-row class="mt-3">
            <b-col class="text-left" sm="12" offset-md="1" md="2">
              <label>Nombre</label>
            </b-col>
            <b-col sm="12" md="7">
              <b-form-input
                placeholder="Ingresa nombre">
              </b-form-input>
            </b-col>
          </b-form-row>
          <b-form-row class="mt-3">
            <b-col class="text-left" sm="12" offset-md="1" md="2">
              <label>Apellido</label>
            </b-col>
            <b-col sm="12" md="7">
              <b-form-input
                placeholder="Ingresa apellido">
              </b-form-input>
            </b-col>
          </b-form-row>
          <b-form-row class="mt-3">
            <b-col class="text-left" sm="12" offset-md="1" md="2">
              <label>Rol</label>
            </b-col>
            <b-col sm="12" md="7">
              <b-form-select id="sel-rol">
              </b-form-select>
            </b-col>
          </b-form-row>
          <b-form-row class="mt-3">
            <b-col sm="1" offset-md="2" md="3">
              <b-form-checkbox>
                Activo
              </b-form-checkbox>
            </b-col>
          </b-form-row>

          <b-form-row class="mt-3 mb-3">
            <b-col sm="12" md="12">
              <b-button type="submit" variant="primary"> Guardar </b-button>
            </b-col>
          </b-form-row>
        </b-form>
    </b-container>
  </div>
</template>

<script>
import MainMenu from '@/components/MainMenu.vue'

export default {
  components: {
    MainMenu
  }
}

</script>
