<template>
  <div>
    <MainMenu></MainMenu>
    <b-container class="pt-5 mt-5">
      <h1>Lista de Usuarios</h1>
      <b-table class="mt-5"
        striped
        :fields="userListFields"
        :items="users">
        <template slot="id" slot-scope="row">
          <span><i @click="edit(row.item.id)" class="far fa-edit fa-2x"></i></span>
        </template>
    </b-table>
    </b-container>
  </div>
</template>

<script>
import MainMenu from '@/components/MainMenu.vue'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      users: [
        {
          id: 1,
          username: 'rziranda',
          name: 'Raúl',
          lastName: 'Ziranda',
          role: 'Admin',
          active: true
        },
        {
          id: 2,
          username: 'menriquez',
          name: 'Martin',
          lastName: 'Enriquez',
          role: 'Vendor',
          active: true
        }
      ]
    }
  },
  methods: {
    edit (idUser) {
      this.$router.push({ path: `/user/edit-user/${idUser}` })
    }
  },
  computed: {
    ...mapState([
      'userListFields'
    ])
  },
  components: {
    MainMenu
  }
}
</script>
