<template>
  <div>
    <MainMenu></MainMenu>
    <GenericTable
      title="Colores"
      :listFields="colorListFields"
      :list="colors"
      :add="true"
      @clickToEdit="edit"
      @addItem="addNewColor">
    </GenericTable>
    <b-modal id="add-color"
             ref="modal"
             title="Agregar Color"
             @hidden="resetModal"
             @ok="saveColor">
      <form ref="form"
            @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="colorNameState"
          label="Color: "
          label-for="color-input"
          label-class="text-left"
          invalid-feedback="El nombre del color es obligatorio">
          <b-form-input
            id="color-input"
            v-model="colorName"
            :state="colorNameState"
            required>
          </b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import MainMenu from '@/components/MainMenu.vue'
import GenericTable from '@/components/GenericTable.vue'
import { mapState } from 'vuex'

export default {
  data () {
    return {
      colors: [],
      colorName: '',
      colorNameState: null
    }
  },
  created () {
    this.getColors()
  },
  methods: {
    edit (idColor) {
      console.log(idColor)
    },
    addNewColor () {
      this.$root.$emit('bv::show::modal', 'add-color')
    },
    saveColor (bvModalEvt) {
      let self = this

      bvModalEvt.preventDefault()

      if (self.colorName !== '') {
        const colorData = {
          description: self.colorName
        }

        let config = {
          headers: { 'Authorization': 'bearer ' + self.$session.get('jtw') }
        }

        self.axios.post('http://localhost:5000/api/Colors', colorData, config)
          .then(function (response) {
            if (response.status === 201) {
              self.$swal.fire({
                type: 'success',
                title: 'Color guardado correctamente',
                showConfirmButton: false,
                timer: 1000
              })
              self.getColors()
            }
          })
          .catch(function (error) {
            if (error.response.status === 409) {
              self.$swal.fire({
                type: 'error',
                title: 'Oops...',
                text: error.response.data,
                showConfirmButton: false,
                timer: 1000
              })
            }
          })
      }
      self.handleSubmit()
    },
    resetModal () {
      this.colorName = ''
      this.colorNameState = null
    },
    handleSubmit () {
      if (!this.checkModalValidity()) {
        return
      }

      this.$nextTick(() => {
        this.$refs.modal.hide()
      })
    },
    checkModalValidity () {
      const valid = this.$refs.form.checkValidity()
      this.colorNameState = valid ? 'valid' : 'invalid'
      return valid
    },
    getColors () {
      let self = this

      let config = {
        headers: { 'Authorization': 'bearer ' + self.$session.get('jtw') }
      }

      self.axios.get('http://localhost:5000/api/Colors', config)
        .then(function (response) {
          if (response.status === 200) {
            self.colors = response.data
          }
        })
        .catch(function (error) {
          if (error.response.status === 401) {
            if (self.$session.exists()) {
              self.$session.destroy()
            }

            self.$swal.fire({
              type: 'error',
              title: 'Oops...',
              text: 'La sesión ha caducado',
              showConfirmButton: false,
              timer: 1000
            })

            setTimeout(() => {
              self.$router.push('/')
            }, 1100)
          }
        })
    }
  },
  computed: {
    ...mapState([
      'colorListFields'
    ])
  },
  components: {
    MainMenu,
    GenericTable
  }
}
</script>
